
body{background-color: white;}

#remera-manga-larga{width: 60%; height: 80%; display:none;}

#icono-whatsapp{
    width: 3%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}


menu{
    list-style-type: none;
    color: black
}

menu > a > li{
    display: inline

}

#logo-header{
    width: 11%;
}

footer{
    position: fixed;
    bottom: 0px;
}

.col{border: 1px solid black}
.col-8{border:1px solid black}
.btn-primary{background-color: black; border: black;}

@media screen and (min-width: 480px) {

    body {
        background-color: grey;
    }
    #remera-manga-larga{
        display: inline;

    }
.carousel-inner{height: 620px;}

h1{
    color:white;
}

.nav-link-active{
    color:white;
}