
.descuento{
    background-color: black;
    text-align: center;
    position: relative;
    color: aliceblue;
    text-shadow: 2px;
}

.navbar{ 
    opacity: 0.8;
}

.Imagen1{
    width: 10px;
    height: 10px;
}

#Titular{
    color: #8DABAC;
    position: relative;
}

.ImagenUbicacion{
    width: 100%;
    height: 1%;
}

#icono{
    width: 3%;
    position: fixed;
    bottom: 10px;
    right: 20px;   
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cont-temporizador{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cont-temporizador .bloque{
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-temporizador .bloque div{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: grey;
    box-shadow: 0px 0px 6px 2px grey inset;
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cont-temporizador .bloque p{
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.h6{
    text-align: center;
    text-decoration: none;
}

#icono{
    width: 3%;
    position: fixed;
    bottom: 10px;
    right: 20px;   
}


menu{
    list-style-type: none;
    color: black;
}

menu > a > li{
    display: inline

}

#logo-header{
    width: 11%;
}

.col{border: 1px solid black}
.col-8{border:1px solid black}
.btn-primary{background-color: black; border: black;}

@media screen and (min-width: 480px) {

    body {
        background-color: grey;
    }

.robla_categorias{
    background-image: url(./Imagenes/r.png);
}
.h2_indumentaria{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.robla_categorias{
    margin-left: 20%;
    margin-top: 7rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10;
    width: 60%;
    height: 6%;
}

.carousel-inner{
    width: 100%;
    position: fixed;
    height: 700px;
}

h3{
    color:white;
}

.nav-link-active{
    color:white;
}

.body{
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
        margin: 0;
        position: relative;
        color: black;
    }

.product-container img{
    width: 300px;
}

.publicaciones .card{
    width: 200px;
    text-align: center;
    display: inline-block;
}

.publicaciones{
    text-align: center;
    display: inline;
}


.fotter{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.pie-pagina{
    width: 100%;
    height: 30%;
    background-color: #0c3c60;
}

.LogoInstagram{
    width: 27px;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5opx;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 10%;
    height: 10%;
    display: relative;
    justify-content: center;
    align-items: center;
}

.box h2{
    color: white;
}


.box2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;   
}

.box1{
    list-style: none;
    clear: both;
    font-size: 20px;
    color: white;
}

.pie-pagina .grupo-2{
    padding: 15px 10px;
    background-color: black;
    color: white;
} 

.pie-pagina .grupo-2{
    font-size: 15px;
    text-align: center;
}

.LocalesUbicacion{
    background-color: #0c3c60;
    text-align: center;
    font-stretch: 300;
    display:block;
    position: relative;
    border:solid;
    border-color: black;
    border-radius: 25px;
    color: white;
}

.map iframe {
    width: 100%;
}

.encabezado{
    text-align: center;
    color: rgb(0, 0, 0);
}

.ubicacion{
    background-color: #646464;
}

.hombre{
    background-color: black; 
}

.mujer{
    background-color:black;
}






