
/* body{background-image:;} */

body{background-color: grey;}

#modeloDeCaja{
    width: 300px;
    border: 10px dotted green;    
    padding: 50px;
    margin: 20px;
}

#remera-manga-larga{width: 30%; height: 10%;}

#icono-whatsapp{
    width: 3%;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

